@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .before-red-circle {
    @apply before:absolute before:-bottom-[0.5px] before:block before:h-[3px] before:w-[3px] before:translate-y-1/2 before:bg-light-red;
  }

  .after-red-circle {
    @apply after:absolute after:-bottom-[0.5px] after:right-0 after:block after:h-[3px] after:w-[3px] after:translate-y-1/2 after:bg-light-red;
  }
}

:root {
  --mobile-nav: rgb(24 26 29 / 0.6);
}

.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
