@tailwind base;
@tailwind components;
@tailwind utilities;
/* --mobile-nav-dark: rgb(24 26 29 / 0.6);
  --mobile-nav-light: rgb(203 213 225 / 0.6); */
:root {
  --mobile-nav: rgb(24 26 29 / 0.6);
}

.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
